aiohttp
pandas
python-dotenv
opentelemetry-api
pdf2image
Requests
sqlalchemy
pyyaml
openpyxl
paho-mqtt
protobuf
requests_toolbelt
playwright
pydantic
httpx[socks]
instructor
aiolimiter
PySide6-Fluent-Widgets[full]